@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

.myFont {
  font-family: 'Amiri', serif;
}

.mySecondFont {
  font-family: 'Droid Arabic Naskh', serif;
}
.rtl{
  text-align: right;
}
